/*for assignment*/
body {
    background-color: lightblue;
}

h2 {
    background-color: purple;
    color: lightblue
}
/*Table styles*/
.console {
    background-color: chocolate;
}

#controller {
    background-color: cadetblue;
    text-align: center
}

.launch-year {
    background-color: crimson;
    text-align: center;
}

table {
    border: 2px solid;
}
/*Styles for other html pages (not home page)*/
div > h1 {
   color: red;
   font-size: 40px;
   font-family: fantasy;
}

div > h1:hover {
    color: skyblue;
}

div > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div > p {
    text-align: center;
}

/*seperate colors for each controller (not in use)*/
#Dual1 {
    background-color: gray;
    color: white;
}
#Dual2 {
    background-color: lightseagreen;
    color:lightskyblue
}
#Dual3 {
    background-color: pink;
    color: rgb(255, 66, 66);
}
#Dual4 {
    background-color: lightcoral;
    color: beige;
}
#Dual5 {
    background-color: lightblue;
    color: blue;
}